@use "./colors";

mat-sidenav-container {
  height: 100%;
}

.sidenav,
mat-sidenav-content {
  padding: 1rem;
}

.sidenav {
  background-color: colors.$marine;
  width: 15vw;
  border-right: 0;
}

.mat-flat-button {
  background-color: colors.$marine !important;
  color: white;
  top: 20px;
  left: -16px;
  height: 40px;
  min-width: auto;
  font-size: 20px;
  border-radius: 0px 4px 4px 0px;
}
