@use "./colors";

mat-sidenav-container {
  height: 100%;
}

.sidenav,
mat-sidenav-content {
  padding: 1rem;
}

.sidenav {
  background-color: colors.$marine;
  width: 15vw;
  border-right: 0;
}

#btn-toggle-sidenav {
  background-color: colors.$marine !important;
  color: white;
  top: 20px;
  left: -20px;
  height: 40px;
  width: 40px;
  font-size: 20px;
}
