@use "./colors";

mat-sidenav-container {
  height: 100%;
  border: 1px colors.$marine;
  border-width: 0.5px;
  box-shadow: none;
}

.sidenav,
mat-sidenav-content {
  padding: 1rem;
}

#sidenav-content {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3rem 1fr;
  padding: 0px;
}

.employee-header {
  display: flex;
  align-items: center;
  padding: 2.125rem 0 2rem 5.5rem;
  #employee-grid-title {
    align-self: center;
    margin: 0;
  }
  #add-employee-button {
    margin-left: 2rem;
    height: 2rem;
    border-radius: 15px;
    .mat-icon {
      padding: 0px;
      font-size: 1rem;
    }
  }
  #search-bar {
    padding-left: 2rem;
    font-size: 0.75rem;
  }
}

.sidenav {
  background-color: colors.$marine;
  border-right: 0;
  .side-toolbar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 90% 10%;
    gap: 5rem;
    margin-top: 2rem;
    padding-left: 0.5rem;
    .nav-items {
      display: flex;
      flex-direction: column;
    }
    button {
      background-color: rgba($color: colors.$sky-celeste, $alpha: 0.05);
      border-radius: 10px;
      width: 9.5rem;
      text-align: left;
      color: white;
      margin-bottom: 2rem;
    }
    .toolbar-item-text {
      padding-left: 1rem;
    }
    .help {
      padding-left: 0.75rem;
      .help-button {
        align-self: center;
        width: auto;
        margin: 1rem 1rem 0 1rem;
        font-size: 0.725rem;
        color: colors.$sky-celeste;
        background-color: white;
      }
      .toolbar-item-text {
        padding-left: 0.5rem;
      }
    }
  }
}

.toggle-button-container {
  #btn-toggle-sidenav {
    position: sticky;
    border-radius: 15px;
    top: 3rem;
    margin-left: 1.75rem;
    height: 2rem;
    .mat-icon {
      padding: 0px;
      font-size: 1.125rem;
    }
  }
}

.mat-grid-list {
  height: auto !important;
  margin-bottom: 3rem;
}

.mat-drawer {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
