<mat-sidenav-container>
  <mat-sidenav class="sidenav" mode="side" [(opened)]="opened">
    <div class="branding-box">
      <a href="/" class="branding-box-link">
        <div id="branding" class="mat-display-1">hireboard</div>
        <div id="color-line" class="mat-display-1">l</div>
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content id="sidenav-content">
    <mat-button-toggle
      disableRipple="true"
      id="btn-toggle-sidenav"
      (click)="opened = !opened"
      >≡</mat-button-toggle
    >
  </mat-sidenav-content>
</mat-sidenav-container>
