<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav" mode="side" [(opened)]="opened">
    <div class="branding-box">
      <a href="/" class="branding-box-link">
        <div id="branding" class="mat-display-1">hireboard</div>
        <div id="color-line" class="mat-display-1">l</div>
      </a>
    </div>
    <div class="side-toolbar">
      <button mat-button>
        <mat-icon>home</mat-icon>
        <span class="toolbar-item-text">Inicio</span>
      </button>
      <button mat-button>
        <mat-icon>people</mat-icon>
        <span class="toolbar-item-text">Empleados</span>
      </button>
      <button mat-button>
        <mat-icon>event_note</mat-icon>
        <span class="toolbar-item-text">Proyectos</span>
      </button>
      <button mat-button>
        <mat-icon>info_outline</mat-icon
        ><span class="toolbar-item-text">Acerca de</span>
      </button>
      <div class="help">
        <button mat-stroked-button class="help-button">
          <mat-icon
            class="help-button-icon"
            aria-hidden="false"
            aria-label="Help icon"
            >live_help</mat-icon
          ><span class="toolbar-item-text">Ayuda</span>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content id="sidenav-content">
    <div class="toggle-button-container">
      <div class="inverse-border-radius-top"></div>
      <button
        mat-flat-button
        id="btn-toggle-sidenav"
        (click)="sidenav.toggle()"
      >
        ≡
      </button>
      <div class="inverse-border-radius-bot"></div>
    </div>
    <div class="main-content">
      <div class="employee-header">
        <div id="employee-grid-title" class="mat-subheading-1">Empleados</div>
        <button
          id="add-employee-button"
          mat-stroked-button
          (click)="openDialog(null, 'add')"
        >
          <mat-icon>add</mat-icon>
        </button>
        <mat-form-field id="search-bar" appearance="fill">
          <input
            matInput
            id="search-input"
            type="search"
            name="key"
            placeholder="Buscar..."
            (ngModelChange)="searchEmployees(key.value)"
            #key="ngModel"
            ngModel
          />
        </mat-form-field>
      </div>
      <mat-grid-list class="employee-grid" cols="1" rowHeight="160px">
        <mat-accordion class="employee-accordion">
          <mat-expansion-panel
            class="employee-panel"
            *ngFor="let employee of employees"
          >
            <mat-expansion-panel-header
              class="employee-panel-header"
              collapsedHeight="80px"
              expandedHeight="*"
            >
              <mat-panel-title class="employee-panel-title">
                <img
                  class="employee-img"
                  src="{{ employee?.imgUrl }}"
                  alt="{{ employee?.name }}"
                />
                <span class="employee-title">{{ employee?.name }}</span>
                <mat-icon id="role-icon">work</mat-icon>
                <span class="employee-role">{{ employee?.jobTitle }}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description class="employee-panel-description">
              <div class="phone-detail">
                <mat-icon aria-hidden="false" aria-label="Phone icon"
                  >phone</mat-icon
                >
                <span>{{ employee?.phone }}</span>
              </div>
              <div class="email-detail">
                <mat-icon aria-hidden="false" aria-label="Email icon"
                  >email</mat-icon
                >
                <span>{{ employee?.email }}</span>
              </div>
              <div class="birthday-detail">
                <mat-icon aria-hidden="false" aria-label="Birthday icon"
                  >cake</mat-icon
                >
                <span>{{ employee?.birthday }}</span>
              </div>
            </mat-panel-description>
            <mat-action-row class="employee-panel-action-row">
              <button
                mat-button
                color="primary"
                (click)="openDialog(employee, 'edit')"
              >
                <mat-icon aria-hidden="false" aria-label="Edit icon"
                  >edit</mat-icon
                >
              </button>
              <button
                mat-button
                color="warn"
                (click)="openDialog(employee, 'delete')"
              >
                <mat-icon aria-hidden="false" aria-label="Delete icon"
                  >delete</mat-icon
                >
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-grid-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
